html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    background-color: #f3f3f3;
}
.top {
    width: 100%;
    background-image: linear-gradient(to right, #000000 , #011627, #011d33);
    height: 120px;
}

/*---------------------------------- HEADER ----------------------------------*/

.header {
    width: 90%;
    background: transparent;
    height: 120px;
    margin: auto;
}
.header p {
    padding: 29px 30px;
    font-size: 50px;
    background: -webkit-linear-gradient(40deg, #00a2ff, #a936f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    transition: 0.05s;
    width: 10em;
}
.header p:hover {
    transform: scale(1.01);
}

/*---------------------------------- Navigation Bar ----------------------------------*/

.topnav {
    float: right;
    list-style-type: none;
    overflow: hidden;
    padding: 43px 30px;
}
.topnav .button {
    float: right;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    padding: 5px 30px;
    color: #ffffff;
    background-color: #6936f5;
    margin-left: 20px;
    border-radius: 30px;
    background-image: linear-gradient(60deg, #6936f5 , #4b79f7); 
    z-index: 1;
    -webkit-backface-visibility: hidden;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.topnav .button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-image: linear-gradient(80deg, #2860fa, #6936f5);
    transition: opacity 0.2s ease-out;
    z-index: 2;
    opacity: 0;
}
.topnav .button:hover:after {
    opacity: 1;
}
.button span {
    position: relative;
    z-index: 3;
}

.topnav li {
    float: right;
}
.topnav li a {
    font-size: 18px;
    display: block;
    color: #e8f4ff;
    text-align: center;
    padding: 5px 1px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    margin: 0 26px;
}
.topnav li a:hover:not(.active) {
    color: #885efc;
}

.topnav li a.active {
    color: #885efc;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #885efc;
}
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #885efc;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media screen and (max-width: 600px) {
    .header {
        width: 100%;
        background-image: linear-gradient(to right, #000000 , #011627, #011d33);
    }
    .header .text {
        width: 100%;
        height: 100%;
    }
    .header .text p {
        text-align: center;
        font-size: 40px;
        background: -webkit-linear-gradient(40deg, #0084ff, #36c8f5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: 'Lato', sans-serif;
    }
    
    .topnav li {float: none;}
}
